h1 {
	color: #ff7f50;
	font-family: Garamond;
	text-align: center;
	font-size: 48px;
  margin-top: 8%;
  border: 1px solid #00dd92;
}

img {
	width: 20%;
	height: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


p {
	color: #515151;
	font-family: Garamond;
	text-align: center;
	font-size: 30px;
  margin-bottom: auto;
}

#navbar {
	position: fixed;
	top:30px;
	left:87%;
	margin-left:-254px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	border: 2px solid #fbb89f;
	font-family: Garamond, Arial;
	color: #aaaaaa;
	padding: 10px;
	border-radius: 2px 2px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #00DD92;
}
